In [1]:
import pandas as pd

station2020 = pd.read_csv('每日各站進出站人數2020.csv')
station2020

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86927   20201231     7360             3523             3602
86928   20201231     7361                3               18
86929   20201231     7362               28               34
86930   20201231     7380              609              604
86931   20201231     7390              377              444

[86932 rows x 4 columns]

In [2]:
station2021 = pd.read_csv('每日各站進出站人數2021.csv')
station2021

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20210101      900             7223             7425
1       20210101      910              972             1100
2       20210101      920             1505             1698
3       20210101      930             4385             4657
4       20210101      940             1785             1967
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[86539 rows x 4 columns]

In [3]:
pd.concat([station2020,station2021])

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86534   20211231     7360             4062             4451
86535   20211231     7361               87              104
86536   20211231     7362              341              403
86537   20211231     7380              534              481
86538   20211231     7390              383              389

[173471 rows x 4 columns]