In [4]:
import requests
import pandas as pd
#車站基本資料集 - https://data.gov.tw/dataset/33425
url2 = 'https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/0518b833e8964d53bfea3f7691aea0ee'
response = requests.get(url2)
if response.status_code == 200:
    station_data = response.json()

station_df = pd.DataFrame(station_data,columns=['stationCode','stationName'])
station_df.columns = ['車站代碼','中文站名']
station_df['車站代碼'] = station_df['車站代碼'].astype(int)
station_df

     車站代碼 中文站名
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
237  7350   猴硐
238  7360   瑞芳
239  7361  海科館
240  7380  四腳亭
241  7390   暖暖

[242 rows x 2 columns]

In [6]:
inOut_df = pd.read_csv('每日各站進出站人數.csv')
inOut_df.columns = ['乘車日','車站代碼','進站人數','出站人數']
inOut_df

            乘車日  車站代碼  進站人數  出站人數
0      20230101   900  8030  8241
1      20230101   910  1017  1326
2      20230101   920  1400  1705
3      20230101   930  3558  4398
4      20230101   940  1509  1815
...         ...   ...   ...   ...
86604  20231231  7360  7916  8252
86605  20231231  7361   164   195
86606  20231231  7362   652   720
86607  20231231  7380  1526   656
86608  20231231  7390   576   447

[86609 rows x 4 columns]

In [7]:
station_2023_df = pd.merge(inOut_df,station_df,on='車站代碼',how='left')
station_2023_df

            乘車日  車站代碼  進站人數  出站人數 中文站名
0      20230101   900  8030  8241   基隆
1      20230101   910  1017  1326   三坑
2      20230101   920  1400  1705   八堵
3      20230101   930  3558  4398   七堵
4      20230101   940  1509  1815   百福
...         ...   ...   ...   ...  ...
86604  20231231  7360  7916  8252   瑞芳
86605  20231231  7361   164   195  海科館
86606  20231231  7362   652   720  NaN
86607  20231231  7380  1526   656  四腳亭
86608  20231231  7390   576   447   暖暖

[86609 rows x 5 columns]